/* HEADER */

#sp-header .container {
	width: 100%;
}
#sp-header-block div.sp-vmsearch .sp-vmsearch-categorybox {
	width: 170px;
} 
#sp-header-block div.sp-vmsearch .search-input-wrapper {
	padding-left:210px;
} 

/* CATEGORIE */

.orderby-displaynumber .pull-right.list-grid {
	display: none;
}

.orderby-displaynumber .orderlistcontainer .activeOrder {
	min-width: 140px;
}

body.com-virtuemart.view-category select[multiple], body.com-virtuemart.view-category select[size] {
	height:40px;
	border-color: #295594;
}

.view-category .product-item .products-textlink {
	height: 140px;
}

.product-item .products-textlink p.bio_tag {
	position: absolute;
	width: 100%;
	bottom: 0;
	display: none;
}
#prod_qty{
	height: 34px;
}

/* ARTICLES */

body.com-content.view-article .page-header,
body.com-content.view-article .entry-header,
body.com-content.view-article .share_this  {
	display: none;
}

/* USER BACKEND  */

table.adminlist {
	width: 100%;
}
.account-edit span{
	font-size: 1rem;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 500;
    color: #777;
    text-transform: none;
}

table.adminlist td,
table.adminlist th{
	width: 20%;
}

form#adminForm span.userfields_info {
	background-color: #295594;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

form#adminForm legend {
	border: none;
}

.chzn-search input {
	display: none;
}
#selectedInputPart{
	display: none;
}
body.view-user form#form-login  {
    padding-bottom: 10px;
}
body.view-user form#form-login input[type="submit"] {
	background: #295594 none repeat scroll 0 0;
    border: medium none;
    color: white;
    margin-left: 5px;
    padding: 5px;
}

/* Notice */
.alert-notice{
	padding:15px;
	border:2px solid #2a588d;
}
.alert-error{
	border: 1px solid #265696;
}
@-webkit-keyframes aniText {
    from {left: 0px;}
    to {right: 200px; color: #222; background: #fff; padding: 0;}
}

@keyframes aniText {
    from {left: 0px;}
    to {right: 200px; color: #A31312; background: #eee;padding: 10px;}
}

.alert h4{
     -webkit-animation-name: aniText;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: aniText;
    animation-duration: 3s;    
    animation-fill-mode: forwards;
}

/* LOGIN PAGE */
@media (min-width: 900px) {
    .floatleft{
        padding: 5px;
        border-radius: 5px;
        background: #eee;
    }
}
@media (max-width: 568px) {
    .floatleft{
        padding: 0px;
        background: transparent;
    }
}

/*CART CHECKTOU PAGE*/
@media (min-width: 900px) {
	.cart-page .cart-items .product-name{
		width:35%
	}
	.cart-page .cart-items .product-quantity{
		text-align:center;
		width:10%;
		min-width:100px
	}
	.cart-page .total-block{
		padding:15px 0;
		margin-bottom:20px;
		border:1px solid #ddd;
		background-color:#fcfcfc;
		overflow:hidden;
	}
}
@media (max-width: 768px) {
	.cart-page .cart-items .product-name{
		width:20%
	}
	.cart-page .cart-items .product-quantity{
		text-align:center;
		width:20%;
		min-width:100px
	}
	.select_payment{
		position: absolute;
        margin-top: 70px;
	}
	.cart-page .total-block{
		padding:15px 0;
		margin-bottom:20px;
		border:1px solid #ddd;
		background-color:#fcfcfc;
		overflow:hidden;
		float: left;
		margin-top: 220px;
	}
}
@media (max-width: 568px) {
    .cart-page .total-block{
		padding:15px 0;
		margin-bottom:20px;
		border:1px solid #ddd;
		background-color:#fcfcfc;
		overflow:hidden;
		margin-top: 20px;
	}
	.select_payment{
		position: relative;
		margin-top: 20px;
	}	
}

/* HOMEPAGE PRODUCT PAGE */

span.PricesalesPrice, span.PricepriceWithoutTax {
	font-size: 24px;
	color: #295594;
}
input.quantity-input {
	max-width: 35px;
	padding: 0;
	text-align: center;
}

@media (max-width: 568px) {
    #sp-header {
       display: none;
	} 
}
@media (min-width: 900px) {
	.catSlider {
	    position: relative;
	    background-image: url(/images/slider_accueil_2.jpg);
	    background-size: 100% auto;
	    background-position: center;
	    background-attachment: fixed;
        background-size: cover;
	    z-index: 0;
	}
	.catSlider::before {
	    position: absolute;
	    width: 100%;
	    content: "";
	    height: 532px;
	    background-image: url(/images/slider_accueil_1.jpg);
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    background-position: center;
	    opacity: 0;
	    transition: opacity 1s linear 1s;
	    overflow: auto;
	    z-index: -2;
	    left: 0;
	}
	.catSlider::after {
	    position: absolute;
	    width: 100%;
	    content: "";
	    height: 532px;
	    background-image: url(/images/slider_accueil_3.jpg);
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    opacity: 0;
	    transition: opacity 1s linear 1s;
	    overflow: auto;
	    z-index: -3;
	    left: 0;
	}
    .sp-megamenu-parent >li >a{
		display:inline-block;
		padding:0 20px;
		line-height:58px;
		text-transform:uppercase;
		color:#333;
		font-family:'Montserrat',sans-serif;
		font-size:1.3rem;
		font-weight:500;
		letter-spacing:1px
	}
}
@media (max-width: 768px) {
	.catSlider {
	    position: relative;
	    background-image: none;
	    z-index: 0;
	}
	.catSlider::before {
	    background-image: none;
	}
	.catSlider::after {
	    background-image: none;
	}
    .sp-megamenu-parent >li >a{
    	padding:0 20px;
		font-size:1rem;
		text-transform:uppercase;
		letter-spacing:1px
		line-height:58px;
	}
	#sp-menu{
		padding-top: 20px;
	}
	.catSlider::before {
		background-image: none;
	}
}
.homepage .nav.nav-tabs {
	margin-top: 25px;
}
.homepage .tabs-product .tab-content {
	margin-bottom: 25px;
}
.producttabs .product-name a {
	color:black;
}
.catSlider {
  	/*background-image: url("/images/fond-accueil.jpg");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 532px;
    overflow: auto;
    width: 100%;
}

body.itemid-101 .alert-error {
	display: none;
} 

.catBlock {
  width: 20%;
  height:50%;
  float: left;
  text-align: center;
  display: table;
  padding: 5px;
}

.catBlock .catBlockContent {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
	display: table;
}
.catBlock .catBlockContent:hover {
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
	font-size: 25px;
	color: #fff;
}

.catBlock a {
  vertical-align: middle;
  display: table-cell;
  font-size: 20px; 
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 992px){
	.catBlock .catBlockContent:hover a {
	  font-size: 22px; 
	  color: #fff;
	}
}
#sp-tab-products .product-wapper-tab ul#dscr_tab.nav.nav-tabs {
	margin:margin: 30px 0;
}
#sp-tab-products .support-policy .support-footer-inner {
	padding: 0;
}
#sp-tab-products .support-policy .support-footer-inner::before {
	background-color: #fff; 
}
.hover-box .actions {
  display: none;
}

.support-footer-inner {
	padding: 0;
	margin: 0;
	width: auto;
	position: relative;
}

.product-item .per-product .images-container {
  height: 180px;
  border-radius: 15px;
}

#sp-banner-top {
	padding: 0;
	margin:0;
}
#sp-banner-top .sp-module {
	margin-top: 0;
}
#sp-banner-top-wrapper .container {
	width: 100%
}

.blocAccueil {
	margin-top: -15px;
	font-family: 'Montserrat';
	color:#fff;
}
.blocAccueil .row.high {
	height:400px;
	margin-top: 0;
	margin-bottom: 0;
}
.blocAccueil .row.low {
	height:300px;
	margin-top: 0;
	margin-bottom: 0;
}
.blocAccueil .img,
.blocAccueil .txt {
	height: 100%;
}
.blocAccueil .img {
	background-repeat: no-repeat;
}
.blocAccueil .img1 {
	background-image: url('/images/img_home_2.jpg');
	background-position: 50% 36%;
	background-size: cover;
}
.blocAccueil .img2{
	background-image: url('/images/img_home_1.jpg');
	background-position: 50% 35%;
}
.blocAccueil .img3{
	background-image: url('/images/img_home_3.jpg');
	background-position: 50% 50%;
}
.blocAccueil .img4{
	background-image: url('/images/img_home_4.jpg');
	background-position: 0% 0%;
    background-size: cover;
    background-color: #bbb;
}

.blocAccueil .txt.pink { 
	background-color: #AE9D76;
}
.blocAccueil .txt.grey {
	background-color: #3f3e3e;
}
.blocAccueil .txt.black {
	background-color: #898e8e;
}
.blocAccueil .txt.blue {
	background-color: #596d96;
}

.blocAccueil .txt {
	padding: 15px;
}

.blocAccueil .contentWrapper {
	width: 100%;
	height:100%;
	position: relative;
}

.blocAccueil .txt .title {
	text-transform: uppercase;
	font-size: 25px;
}
.blocAccueil .txt .txtContent {
	font-size: 14px;
}
.blocAccueil .txt .blocSep {
	background-color: #fff;
    height: 3px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-top: 15px;
    width: 10px;
}

.blocAccueil .txt a.button {
	background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    margin-top: 5px;
    padding: 9px;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    display: block;
    color: #fff;
}

section#sp-bottom-block {
	padding: 30px 0 0;
}

#sp-bottom-block2,
#sp-bottom-block3 {
	height: 70px;
}

#sp-bottom-block2 ul.social-icons{
	position: absolute;
	bottom: 0;
}

#sp-bottom-block3 .sp-module.mod_newsletter{
	position: absolute;
}

div.acymailing_module, .acymailing_module div {
	float: left;
}

section#sp-bottom {
	padding: 20px 0 10px;
} 

#sp-bottom2 .sp-module .title-block:before,
#sp-bottom3 .sp-module .title-block:before,
#sp-bottom4 .sp-module .title-block:before {
	margin-bottom: 10px;
}
#sp-bottom2 .sp-module .title-block h3.sp-module-title:before,
#sp-bottom2 .sp-module .title-block h3.sp-module-title,
#sp-bottom3 .sp-module .title-block h3.sp-module-title:before,
#sp-bottom3 .sp-module .title-block h3.sp-module-title,
#sp-bottom4 .sp-module .title-block h3.sp-module-title:before,
#sp-bottom4 .sp-module .title-block h3.sp-module-title{
	font-size: 18px;
	width: auto;
	margin-bottom: 10px;
	text-transform: uppercase;
}

section#sp-bottom .sp-module {
	margin-top: 20px;
}

#sp-footer {
	display: none;
}

.virtuemart_search input.inputbox {
	float: left;
    margin-right: 5px;
}

/* PANIER */
span.vmshipment span.vmshipment_name {
	display: none;
}

table.cart-items td {
	max-width: 600px;
    white-space: normal;
}



/* FANCYBOX */

#fancybox-content div {
	min-height: 90px;
}

.vmReorderModule span.addtocart-button {
	background-color: #295594;
    padding: 10px;
}
.vmReorderModule span.addtocart-button i{
	color: white;
	font-size: 14px;
}

.vm-fieldset-pricelist .coupon-block {
	display: none;
}

/*FORM*/
table.adminForm label{
	font-size: 1.2rem;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 500;
    color: #777;
}

@media (max-width: 480px){
	table.adminForm label{
		font-size: 12px;
	}
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
		width: 85%;
	}
}

/* PRODUIT */
.listeProduitsCat {
  border:1px solid;
  color:#295594;
  font-family:Montserrat;
  height:200px;
  margin-bottom:15px;
  overflow-y:hidden;
  padding:10px;
}
.listeProduitsCat .hide {
  display: none;
}

td.cell_salesPrice {
	text-align: center;
}

.listeProduitsCat a {
  color:#295594;
}

.listeProduitsCat a:hover {
    opacity: 0.7;
}

.listeProduitsTitre {
	margin-top:25px;
	padding: 7px 0 7px 10px;
	width: 100%;
	color: #aaa;
	font-size: 14px;
	border: 1px solid #295594;
    border-bottom: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    background-color: #295594;
}
.listeProduitsTitre i {
	float: right;
	font-size: 14px;
	color: white;
	padding: 1px 15px 0 0 ;
}
.listeProduitsCat img {
	margin-right: 5px;
    width: 20px;
}

p.info_text  {
	margin-bottom: 0;
}


/******************************************/
	/*				NIVO CUSTOM SLIDE		  */
	/******************************************/

	@font-face {
	    font-family: 'frontage';
	    src: url('../fonts/frontage-regular-webfont.eot');
	    src: url('../fonts/frontage-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/frontage-regular-webfont.woff') format('woff'),
	         url('../fonts/frontage-regular-webfont.ttf') format('truetype'),
	         url('../fonts/frontage-regular-webfont.svg#frontage_regularregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'frontage';
	    src: url('../fonts/frontage-bold-webfont.eot');
	    src: url('../fonts/frontage-bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/frontage-bold-webfont.woff') format('woff'),
	         url('../fonts/frontage-bold-webfont.ttf') format('truetype'),
	         url('../fonts/frontage-bold-webfont.svg#frontage_boldbold') format('svg');
	    font-weight: bold;
	    font-style: normal;

	}

	.item-page #preloader {
		display: none;
	}
	.nivo-bloc-slider {position:relative; color:white; margin-bottom: 20px;box-shadow: 0 0 10px #444;}
	.nivo-bloc-slider .theme-default .nivoSlider{margin-bottom: 0;}
	.nivo-bloc-slider .nivo-bloc-content {position:absolute; top:0; height:100%; z-index:100; width:100%; min-height:100px;}
	.nivo-bloc-slider .nivo-background-transparent { width:100px; }
	.nivo-bloc-slider .nivo-bloc-text {width:836px; padding:0 20px; font-family: "helvetica";}
	.nivo-bloc-slider .nivo-bloc-text h2.title-slider {width:270px; margin:20px 0; font-family:'helvetica'; font-weight:normal; font-size: 20px;color:#fff;}
	.nivo-bloc-slider .nivo-bloc-text .nivo-column {clear: both; border-top:1px solid white; padding-top:20px; font-size:15px; width: 532px;}
	.nivo-bloc-slider.nivo-laboratoire .nivo-bloc-text .nivo-column {clear: both; border-top:1px solid white; padding-top:20px; font-size:14px; width: 532px;}
	.nivo-bloc-slider .nivo-bloc-text .nivo-column .column { width:256px !important; }
	.nivo-bloc-slider .nivo-bloc-text .nivo-column .first.column { margin-right:20px; }
	.nivo-bloc-slider .nivo-bloc-images {width:234px; padding:0 20px; position: absolute;overflow: hidden;}
	.nivo-bloc-slider .nivo-bloc-images img{margin-top:20px;}
	.nivo-bloc-slider .door {display:block; position:absolute; width:30px; height:30px; line-height:25px; font-size:38px; text-align:center; border:3px solid white; border-radius:30px; color:white; z-index:110; text-decoration:none; behavior: url("/PIE.htc"); }
	
	.nivo-bloc-slider.nivo-right .nivo-bloc-text .nivo-column{float: right;}
	.nivo-bloc-slider.nivo-right .nivo-bloc-content,.nivo-bloc-slider.nivo-left .nivo-bloc-images {right:0;}
	.nivo-bloc-slider.nivo-right .nivo-bloc-images,
	.nivo-bloc-slider.nivo-right .nivo-background-transparent,
	.nivo-bloc-slider.nivo-right .nivo-bloc-text { float:right; height:100%; font-size:12px; }
	.nivo-bloc-slider.nivo-right .nivo-bloc-text h2.title-slider { float:right; text-align:right; }
	
	.nivo-bloc-slider.nivo-right .nivo-bloc-text {  padding-left:0; }
	
	.nivo-bloc-slider.nivo-right .door  {right:-18px;}
	
	.nivo-bloc-slider.nivo-left .nivo-bloc-text .nivo-column{float: left;}
	.nivo-bloc-slider.nivo-left .nivo-bloc-content ,.nivo-bloc-slider.nivo-right .nivo-bloc-images{left:0;}
	.nivo-bloc-slider.nivo-left .nivo-bloc-images,
	.nivo-bloc-slider.nivo-left .nivo-background-transparent,
	.nivo-bloc-slider.nivo-left .nivo-bloc-text { float:left; height:100%; }
	.nivo-bloc-slider.nivo-left .nivo-bloc-text { padding-right:0;  }
	
	.nivo-bloc-slider.nivo-left .door  {left:-18px;}
	
	/*CLOSED*/
	.nivo-bloc-content.closed .nivo-bloc-text{width: auto; height: auto; min-height:100px;}
	.nivo-bloc-content.closed .nivo-column,.nivo-bloc-content.closed .nivo-bloc-images{display: none;}
	/*END CLOSED*/
	
	.nivo-bloc-static {color:white; padding:20px; }
	.nivo-bloc-static .nivo-bloc-content {color:white; font-size:14px; }
	.nivo-bloc-static h2.title-slider {
		border-bottom: 1px solid white;
	    color: white;
	    font-family: "helvetica";
    	font-size: 20px;
	    font-weight: normal;
	    margin-bottom: 20px;
	    padding: 25px 0 30px 70px;
	}
	.nivo-bloc-static p { margin-bottom:20px; }
	.nivo-bloc-static ul.list-slider { list-style-type:none; }
	/*.nivo-bloc-static ul li { width:30%; margin-left:5%; float:left; }
	.nivo-bloc-static ul li:first-child { margin-left:0; }*/
	
	/* Background salade */
	.nivo-bloc-slider.nivo-color-salade .door,
	.nivo-bloc-slider.nivo-color-salade .nivo-bloc-images,
	.nivo-bloc-slider.nivo-color-salade .nivo-bloc-text { background-color:#c7d32c; }
	.nivo-bloc-slider.nivo-color-salade .nivo-background-transparent { 
		background-color: rgb(199, 211, 44); 
		background-color:rgba(199, 211, 44, 0.7);
		background:transparent\9;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bbc7d32c,endColorstr=#bbc7d32c)\9;
		zoom:1\9;
	}
	/* Background vert */
	.nivo-bloc-slider.nivo-color-vert .door,
	.nivo-bloc-slider.nivo-color-vert .nivo-bloc-images,
	.nivo-bloc-slider.nivo-color-vert .nivo-bloc-text { background-color:#93bd6b; }
	.nivo-bloc-slider.nivo-color-vert .nivo-background-transparent { 
		background-color: rgb(147, 189, 107); 
		background-color:rgba(147, 189, 107, 0.7); 
		background:transparent\9;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb93bd6b,endColorstr=#bb93bd6b)\9;
		zoom:1\9; 
	}
	/* Background cyan */
	.nivo-bloc-slider.nivo-color-cyan .door,
	.nivo-bloc-slider.nivo-color-cyan .nivo-bloc-images,
	.nivo-bloc-slider.nivo-color-cyan .nivo-bloc-text { background-color:#9ecae9; }
	.nivo-bloc-slider.nivo-color-cyan .nivo-background-transparent { 
		background-color: rgb(158, 202, 233); 
		background-color:rgba(158, 202, 233, 0.7); 
		background:transparent\9;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb9ecae9,endColorstr=#bb9ecae9)\9;
		zoom:1\9; 
	}
	/* Background orange */
	.nivo-bloc-slider.nivo-color-orange .door,
	.nivo-bloc-slider.nivo-color-orange .nivo-bloc-images,
	.nivo-bloc-slider.nivo-color-orange .nivo-bloc-text { background-color:#eb6909; }
	.nivo-bloc-slider.nivo-color-orange .nivo-background-transparent {
		background-color: rgb(235, 105, 9); 
		background-color:rgba(235, 105, 9, 0.7); 
		background:transparent\9;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bbeb6909,endColorstr=#bbeb6909)\9;
		zoom:1\9; 
	}
	/* Background bleu */
	.nivo-bloc-slider.nivo-color-bleu .door,
	.nivo-bloc-slider.nivo-color-bleu .nivo-bloc-images,
	.nivo-bloc-slider.nivo-color-bleu .nivo-bloc-text { background-color:#00acb6; }
	.nivo-bloc-slider.nivo-color-bleu .nivo-background-transparent { 
		background-color: rgb(0, 172, 182); 
		background-color:rgba(0, 172, 182, 0.7);
		background:transparent\9;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb00acb6,endColorstr=#bb00acb6)\9;
		zoom:1\9;  
	}
	
	.nivo-color-bleu-static { background-color:#68869c;}
	.nivo-color-bleu-static a.nivo-link-download { color:#68869c;}
	.nivo-color-orange-static { background-color:#68869C;}
	
	.nivo-qualite .nivo-bloc-content h2.title-slider { background:transparent url('../images/icone-small-1.png') no-repeat top left; }
	.nivo-qualite .nivo-bloc-content ul.list-slider li { width:47%; margin-left:6%; float:left; }
	.nivo-qualite .nivo-bloc-content ul.list-slider li:first-child { margin-left:0; }
	.nivo-qualite .nivo-bloc-content ul.list-slider li a.nivo-link-download  { display:block; width:150px; height:30px; line-height:30px; margin:25px auto; box-shadow:0 0 10px #444; font-family:'helvetica'; text-decoration:none; background-color:white; letter-spacing:-2px;}
	.nivo-qualite .nivo-bloc-content ul.list-slider li a.nivo-link-download:hover  { text-decoration:underline; }
	
	.nivo-emballages .nivo-bloc-content h2.title-slider { background:transparent url('../images/icone-small-3.png') no-repeat top left; }
	
	.nivo-laboratoire-2 .nivo-bloc-content h2.title-slider { background:transparent url('../images/icone-small-2.png') no-repeat top left; }
	.nivo-laboratoire-2 .nivo-bloc-content ul.list-slider li { width:32%; margin-left:2%; float:left; }
	.nivo-laboratoire-2 .nivo-bloc-content ul.list-slider li:first-child { margin-left:0; }
	.nivo-laboratoire-2 .nivo-bloc-content ul.list-slider li img { margin:0 auto; display:block; }
	.text-center{text-align: center;}

	/** Régle Responsive **/
	.blocResponsive {
		display: none;
	}
	.blockFull {
		display: block;
	}

	@media (max-width: 1200px) {
		.blocResponsive {
			display: block;
		}
		.blockFull {
			display: none;
		}
	}
	
	/******************************************/
	/*		end	of	NIVO SUCTOM SLIDE		  */
	/******************************************/