body {
  color: #333333;
}
a {
  color: #666;
}
a:hover,
a:active,
a:focus {
  color: #295594;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #295594;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  color: #295594;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #295594;
}
#offcanvas-toggler >i:hover,
.offcanvas-toggler >i:hover {
  color: #295594;
}
.sp-module.top_menu ul.major_color li a {
  color: #295594;
}
#offcanvas-toggler >i {
  color: #333333;
}
#offcanvas-toggler >i:hover {
  color: #295594;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #6fb5e1;
  background-color: #295594;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #49a2d9;
  background-color: #5eacdd;
}
.sp-page-title {
  background: #295594;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #295594;
}
.search .btn-toolbar button {
  background: #295594;
}
.post-format {
  background: #295594;
}
.entry-header h2 a:hover {
  color: #295594;
}
.voting-symbol span.star.active:before {
  color: #295594;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #5eacdd;
}
.entry-link,
.entry-quote {
  background: #295594;
}
blockquote {
  border-color: #295594;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #295594;
}
.pagination>li>a,
.pagination>li>span {
  color: #333333;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #333333;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #295594;
  background-color: #295594;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #295594;
  background-color: #295594;
}
.blog-item .info-block-extra .published {
  background: #295594;
}
.seam_icon .seam {
  border-color: #295594;
}
.sppb-panel-default > .sppb-panel-heading.active .sppb-panel-title {
  color: #295594;
}
.sppb-progress .sppb-progress-bar span {
  color: #295594;
}
.sppb-section.crazy-team .sppb-addon-feature .sppb-feature-box-title {
  color: #295594;
}
.sp-comingsoon body {
  background-color: #f8f8f8;
}
.sp-module div.ula-treeview-virtuemart .level0.treeview li:hover .hitarea,
.sp-module .ula-treeview-menus .level0.treeview li:hover .hitarea {
  color: #295594;
}
.mini-cart .show_cart a {
  background: #295594;
  border-color: #295594;
}
.mini-cart .show_cart a:hover {
  color: #333;
  background: none;
  border-color: #aaaaaa;
}
.owl-carousel.owl-theme .owl-nav [class*="owl-"]:hover {
  color: #fff;
  border-color: #295594;
  background: #295594;
}
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span,
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background: #295594;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  border-color: #295594;
}
.border_outner {
  border: 1px solid #295594;
}
.primary-color {
  color: #295594;
}
.bery-hr.primary-color {
  background: #295594;
}
.support-footer-inner .support-icon .icons,
.support-footer-inner .support-icon .icon,
.support-footer-inner .support-icon .fa {
  color: #295594;
}
.sp-corporex-layout .slider-arrow-nav a:hover i {
  background: #295594 !important;
}
.ltr .layout-corpora .slider-controllers >a:hover,
.rtl .layout-corpora .slider-controllers >a:hover {
  background: #295594;
}
button.button-theme:hover,
.button.button-theme:hover,
input.button-theme:hover,
input[type="submit"].button-theme:hover {
  background: #295594;
  border-color: #295594;
}
#slide-newsletter .actions input.button:hover {
  background: #295594 none repeat scroll 0 0;
}
.dark-style #sp-menu .sp-megamenu-parent >li >a:hover {
  color: #295594;
}
.dark-style #sp-menu .sp-megamenu-parent >li.active >a {
  color: #295594;
}
.dark-style#sp-bottom-block a:hover,
.dark-style#sp-bottom a:hover,
.dark-style#sp-footer-top-wrapper a:hover,
.dark-style#sp-footer a:hover {
  color: #295594;
}
.dark-style #slide-newsletter .actions input.button {
  background-color: #295594;
  border-color: #295594;
  color: #fff;
}
.crat-icon .zero,
.crat-icon .item {
  background: #295594 none repeat scroll 0 0;
}
.mini-contentCart .actions a:hover {
  background-color: #295594;
  border: 1px solid #295594;
}
.mini-contentCart .actions a.checkout {
  background-color: #295594;
  border: 1px solid #295594;
}
.mini-maincart .mini-products-list .product-details,
.mini-maincart .mini-products-list .product-details strong,
.mini-maincart .mini-products-list .product-details .price {
  color: #295594;
}
.item .actions-no .add-to-links a:hover {
  background-color: #295594;
  border: 1px solid #295594;
}
.item .actions-no .quickview i:hover,
.item .actions-no .compare i:hover,
.item .actions-no .wishlist i:hover,
.item .actions-no .quickview a i:hover,
.item .actions-no .compare a i:hover,
.item .actions-no .wishlist a i:hover,
.item .actions-no .button.btn-cart i:hover {
  background-color: #295594;
  border-color: #295594;
}
.item .actions-no .quickview:hover,
.item .actions-no .compare:hover,
.item .actions-no .wishlist:hover,
.item .actions-no .quickview a:hover,
.item .actions-no .compare a:hover,
.item .actions-no .wishlist a:hover,
.item .actions-no .button.btn-cart:hover {
  background-color: #295594;
  border-color: #295594;
}
.hotsale {
  background-color: #295594;
}
.price-box .PricesalesPrice {
  color: #295594;
}
#fancybox-outer #fancybox-content #wishlists_go,
#fancybox-outer #fancybox-content #compare_go {
  border-color: #242424;
  background-color: #333333;
}
#fancybox-outer #fancybox-content #wishlists_go:hover,
#fancybox-outer #fancybox-content #compare_go:hover {
  border-color: #0d0d0d;
  background-color: #1a1a1a;
}
#fancybox-outer #fancybox-content #wishlists_continue,
#fancybox-outer #fancybox-content #compare_continue {
  border-color: #6fb5e1;
  background-color: #295594;
}
#fancybox-outer #fancybox-content #wishlists_continue:hover,
#fancybox-outer #fancybox-content #compare_continue:hover {
  border-color: #49a2d9;
  background-color: #5eacdd;
}
#fancybox-outer #fancybox-content .continue_link,
#fancybox-outer #fancybox-content .showcart {
  color: #fff;
  border: 1px solid #363636;
  background-color: #363636;
}
#fancybox-outer #fancybox-content .continue_link:hover,
#fancybox-outer #fancybox-content .showcart:hover {
  background-color: #295594;
  border-color: #295594;
}
#fancybox-outer #fancybox-content .title a:hover,
#fancybox-outer #fancybox-content .remcompare a:hover,
#fancybox-outer #fancybox-content .remwishlists a:hover {
  color: #295594;
}
.chzn-container .chzn-drop .chzn-results .highlighted {
  background-color: #295594;
  background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(20%,#295594),color-stop(90%,#295594));
  background-image: -webkit-linear-gradient(top,#295594 20%,#295594 90%);
}
#compare_list_prod tr:first-child td > div a {
  color: #333333;
}
#compare_list_prod tr:first-child td > div a:hover {
  color: #295594;
}
#compare_list_prod tr td div {
  color: #333333;
}
#compare_list_prod tr td div input.addtocart-button:hover {
  background-color: #295594;
  border-color: #295594;
}
#compare_list_prod tr td div .browseImage .product-label.product-hot-label,
#compare_list_prod tr td div .browseImage .product-label.product-new-label {
  background: #295594;
  border-color: #295594;
}
#compare_list_prod tr td div .browseImage .product-label.product-sale-label {
  background: #363636;
  border-color: #363636;
}
#compare_list_prod tr td div .remcompare a {
  color: #333333;
}
#compare_list_prod tr td div .remcompare a:hover {
  color: #295594;
  cursor: pointer;
}
.cart-page .cart-items .product-name a:hover {
  color: #295594;
}
.cart-page .cart-items .product-remove button:hover {
  color: #295594;
}
.cart-page .cart-items td.product-price {
  color: #333333;
}
.cart-page .cart-items td.product-total {
  color: #295594;
}
.cart-page h4 {
  color: #333333;
}
.cart-page .vmCartPaymentLogo {
  display: none;
}
.cart-page .total-block .subtotal {
  color: #333333;
}
.cart-page .total-block .total {
  color: #333333;
}
.cart-page.wishlist_box .cart-items .product-quantity .addtocart-bar2 .addtocart_button2 input:hover {
  background-color: #295594;
  border-color: #295594;
  color: #fff;
}
input.button-style1:hover,
.button-style1:hover {
  background-color: #295594;
  border-color: #295594;
}
.checkout-page .forgot:hover {
  color: #295594;
}
.products.list .item .product-shop .button.btn-cart:hover {
  background-color: #295594;
  border-color: #295594;
}
.products.list .product-name a:hover {
  color: #295594;
}
.products-list .product-shop .button.btn-cart:hover {
  background: #295594 none repeat scroll 0 0;
  border-color: #295594;
}
.product-shop .product-options-bottom .product-qty .custom-qty button,
.product-shop .product-options-bottom .product-qty .custom-qty input {
  background: transparent;
}
.product-shop .product-options-bottom .product-qty .custom-qty button:hover {
  color: #295594;
}
.product-options-bottom .add-to-links a i:hover {
  background-color: #295594;
  border-color: #295594;
}
.product-options-bottom .add-to-links a:hover {
  background: #295594;
  border-color: #295594;
}
.product-shop .button.btn-cart {
  background: #295594;
  border-color: #295594;
}
.entry-meta .createdby span,
.entry-meta .published span {
  color: #295594;
}
#sp-bottom .contact-information .contact-text strong {
  color: #295594;
}
footer.entry-meta a {
  color: #295594;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #295594;
  border-color: #295594;
}
#sp-breadcrumb .breadcrumb li.active {
  color: #295594;
}
#sp-breadcrumb .sp-slider-content h3 span {
  color: #295594;
}
.sp-module .tagspopular li a:hover {
  background: #295594;
  color: #fff;
}
#sp-footer a {
  color: #295594;
}
.error-page .error-page-inner >div .previus-page:hover {
  background: #295594 none repeat scroll 0 0;
}
.contact-form .btn.btn-primary:hover {
  color: #fff;
  background-color: #295594;
  border-color: #295594;
}
.spinner > div {
  background-color: #295594;
}
.title-page h4 {
  color: #295594;
}
.btn-cart.button:hover,
input.button:hover {
  background: #295594;
}
.btn-cart.button:hover,
input.button:hover {
  border-color: #295594;
  color: #fff;
}
.btn.btn-theme.btn-theme-red:hover {
  background: #295594;
  border-color: #295594;
  color: #fff;
}
.form-button {
  background: #295594;
  color: #fff;
}
.pagination-wrapper ul.pagination li.active a,
.pagination-wrapper ul.pagination li:hover a,
.vm-pagination ul.pagination li.active a,
.vm-pagination ul.pagination li:hover a {
  border-color: #295594;
  background-color: #295594;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #295594 none repeat scroll 0 0;
  border-color: #295594;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #295594 none repeat scroll 0 0;
}
.media-heading a {
  color: #295594;
}
#comments-form #comments-form-send a:hover {
  color: #fff;
  background-color: #295594;
  border-color: #295594;
}
.count {
  color: #295594;
}
#comments .comments-list .even .rbox blockquote,
#comments .comments-list .odd .rbox blockquote {
  border-left: 2px solid #295594;
  color: #295594;
}
#comments .comments-list .even .rbox .comment-box .comments-buttons a:last-child,
#comments .comments-list .odd .rbox .comment-box .comments-buttons a:last-child {
  color: #295594;
}
ul.social-icons li:hover a {
  background: #295594;
}
.sppb-panel-default > .sppb-panel-heading:hover .sppb-panel-title,
.sppb-panel-default > .sppb-panel-heading.active .sppb-panel-title {
  color: #295594;
}
.sppb-panel-default > .sppb-panel-heading:hover .sppb-panel-title:before,
.sppb-panel-default > .sppb-panel-heading.active .sppb-panel-title:before {
  color: #295594;
}
textarea {
  resize: none;
}
.bootstrap-select .dropdown-menu {
  border-radius: 0;
}
.bootstrap-select .dropdown-menu a {
  padding: 5px;
}
.bootstrap-select .dropdown-menu a:hover {
  color: #295594;
}
.sp-module.home-categories .sp-module-title {
  background: #295594;
}
.is-sticky .home3-style .sp-megamenu-parent >li >a.active,
.is-sticky .home3-style .sp-megamenu-parent >li >a:hover {
  color: #295594;
}
.is-sticky .home3-style .go-to-wishlist a:hover {
  color: #295594;
}
.home3-style .sp-megamenu-parent >li >a.active,
.home3-style .sp-megamenu-parent >li >a:hover {
  color: #295594;
}
.home3-style .go-to-wishlist a:hover {
  color: #295594;
}
